{% extends "base.html"%}
{% block content %}
<link rel="stylesheet" href="/static/css/profile.css"> 
<div class="row">

  <div class="col-md-3 bag">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 back"> 
            <img class = "center-block top_buf" src="/static/images/avatar/default.jpg" width="243" height="256"> 
            <button href="/" class="btn btn-lg center-block btn-block top_buf">change photo</button>
            <button href="/" class="btn btn-lg center-block btn-block">edit profile</button>
        </div>
    </div>
  </div>
  
  <div class="col-md-9 bag">
    <div class="row">
        <div class="col-md-11 back"> 
            <h1>{{user.nick_name}}</h1>
            <p style={color:"gray"}>{{user.full_name}}</p>
            <hr>
            <div class = 'contacts'>
                phone: {{user.phone}}<br>
                city: {{user.city}}
            </div>
            <div class = 'aboutme'>
                about me: {{user.about_me}}
            </div>
        </div>
    </div>
  </div>
</div>

{% endblock %}
